# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Variables d'environnement
.env

# Fichiers inutiles
*.log
.DS_Store

# Fichier de configuration contenant des infos sensibles
src/config.py

# Fichiers texte de logins ou connexions
*.txt
