
.venv/

__pycache__/
*.pyc
*.pyo

.env

*.log
.DS_Store

# Exclure le fichier de configuration contenant les identifiants
src/config.py

# Fichiers textes contenant des mots de passe (facultatif mais recommandé)
*.txt
